:root {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.module {
    cursor: url('cursor1.png');	
  }

* {
    padding: 0;
    margin: 0;
    background-color: #E9FFF9;
    color: #004166;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav {
    display: flex ;
    height: 50px;
    background-color:#4cbb17;
    position: sticky;
    top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.nav img{
    height: 40px;
    width: 40px;
    margin-top: 1px;
    margin-left: 2px;
}

input{
    height: 17px;
}

.a1 {
    color: white;
    text-decoration: none;
    margin-right: 90px;
    padding: 5px;
    background-color: #4cbb17;
}

nav.navbar{
    background-color: #4cbb17;
}

.navbar {
    margin-top: 13px;
    font-size: 20px;
    margin-left: 50px;
    /* background-color: #4cbb17; */
}

#ashiyana{
    color: #4cbb17;
}

input {
    width: 150px;
    height: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

button{
    background-color: white;
    width: 50px;
    height: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #e8e9eb;
    color: black;
}

input:hover{
    border: 1px solid black;
}

#intro{
    margin-top: 5px;
    font-family: sans-serif;
    margin-left: 140px;
    width: 480px;
    display: inline-block;
    padding: 50px;
    font-size: 55px;
    color: #32174d;
}

#pic1 {
    height: 100%;
    max-width: 150%;
    border: 2px solid black;
    padding: 2px;
}
.container {
    /* background-image: url(skyphoto.jpg); */
    margin-top: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 150px;
}

#about{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    /* background-color: aliceblue; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

#what {
    /* background-image: url('pic7.jpg'); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: black;
    /* background-color: black; */
    text-align: center;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 200px;
    /* background-color: yellow; */
    border: 2px solid;
    padding: 50px;
    border-radius: 50px;
}    
  
#amenities{
    text-align: center;
    margin-top: 30px;
}

.contain{
    align-items: center;
    width: 80%;
    height: 450px;
    justify-content: center;
    gap: 10px;
    display: inline-block;
}

.contain img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
}

.contain img:hover {
    width: 25%;
    cursor: pointer;
}

#contact {
    width: 500px;
    margin-left: 500px;
    /* border: 2px solid black; */
    margin-top: 10px;
}

#contact1{
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-decoration: underline;
}

#contact2 {
    text-align: center;
    padding: 10px;
}
